#time {
	/* Set the font of the displayed time. */
	font-family: monospace;

	/* Make the time centered vertically on the screen. */
	position: absolute;
	height: 50%;
	margin: auto;
	top: 0; left: 0; bottom: 0; right: 0;

	/* Having said that, put the time slightly above center. */
	padding-bottom: 5%;

	/* Make the time centered horizontally on the screen. */
	display: grid;
	justify-items: center;

	/* Put a gap between local and solar time which is relative to the height provided by the browser. */
	row-gap: 3vh;
}

/* Set the font of the local time relative to the width of the browser. */
#time-main {
	font-size: 5vw;
}

/* Set the font of solar time relative to the width of the browser. */
#time-solar {
	font-size: 4vw;
}

/* Display the current date. */
#date {
	font-size: 3vw;
}

footer {
	/* Have the footer use a nice font. */
	font-family: sans-serif;

	/* Put the footer fixed at the bottom of the page. */
	position: fixed;
	bottom: 0;

	/* Evenly display the items using available width. */
	display: grid;
	grid-template-areas: "copyright github about";

	/* Give the text items some space on the sides. */
	margin: auto;
	width: 100%;
}

/* Remove the underline and blue text for urls in the footer. Keep all footer text consistent. */
footer a:hover, footer a:visited, footer a:link, footer a:active {
	color: black;
	text-decoration: none;
}

/* about.html specific CSS */

#about-us {
	font-family: sans-serif;

	/* center the items in the about page "article" */
	display: flex;
	align-items: center;
	flex-direction: column;

	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 50px;
}

#team-members {
	/* arrange the members in a row */
	display: grid;
	grid-template-areas: "a b c";

	/* shift the cards over to the left slightly */
	margin-left: 15%;
}

.member {
	/* adjust position of items in each member "card" */
	width: 50%;
	text-align: center;
	padding: 20px;
}

.member img {
	/* shrink the image to only 75% of the available card space */
	width: 75%;

	/* make the images rounded */
	border-radius: 50%;
}

.member a {
	/* add a black dotted underline under the URL to find about more */
	color: black;
	text-decoration: none;
	border-bottom: black dotted 2px;
}
